body {
    background-color: #F3F3F3;
}

.wrapper {
    width: 80%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    text-align: left;	
    padding: 30px;
    background-color: #0099FF;
    color: white;
}

.box {
    display: inline-block;
}

.box>div:first-child {
    width: 200px;
    display: inline-block;
}

.show-case {
    text-align: center;
    width: 100%;
    padding: 30px;
    display: inline-block;
}

.detail {
    vertical-align: middle;
}

.img-div {
    width: 200px;
    display: flex;
    height: 140px;
}

.img-show {
    width: 100%;
    height: 100%;
}