body {
	background-color: #F3F3F3;
}

.box{
	background-color: white;
	border: 2px gray solid;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 80px 60px 80px 60px;
}
.header {
	font-size: 48px;
	color: #0099FF;
	margin : auto;
}
.form{
	color: #95989A;
}
.big-box{
	padding-left: 30px;
}
.form-input{
	padding-left: 30px;
}
.event{
	padding-left: 30px;
}
#submit {
	background-color: #0099FF;
	color: white;
	padding : 14px;
	border: none;
	border-radius: 5px;
}
.sbutton{
	padding-left: 30px;
}
