/*Default CSS*/
.container-fluid {
	padding: 0px;
}

.navbar-default {
	margin-bottom: 0px;
	background-color: white;
	height: 150px;
	background-color: #F3F3F3;
	/*padding: 50px 5%;*/
}

.navbar-brand {
	
}

#search-div {
	padding: 0px;
}

#search-bar {
	border-radius: 15px 0px 0px 15px;
}

#search-btn {
	border-radius: 0px 15px 15px 0px;
}

#search-bar, #search-btn {
	height: 40px;
}

#search-group {
	padding-top: 5px;

}

@media (min-width: 400px) {
	.navbar-default {
		padding: 50px 5%;
	}

	.navbar-brand {
		font-size: 50px;
		margin: 0px 30px 0px 0px;
	}

	.content > h1{
		font-size: 80px;
	}
}

@media (max-width: 768px) {
	.navbar-default {
		padding: 50px 1%;
		height: auto;
	}

	.navbar-brand {
		font-size: 40px;
		margin: 0px 10px 0px 0px;
	}

	.content > h1{
		font-size: 50px;
	}
}

.footer {
	color: white;
	background-color: black;
	height: 200px;
	padding: 15px 35px;
}

.footer>h2 {
	font-weight: 400;
}

#blue {
    color: #0099FF;
}

#blue:hover {
	color: #0066FF;
	text-decoration: underline;
}

.menu {
	font-size: 20px;
}

.nav.navbar-nav.navbar-right li a:hover {
    text-decoration: underline;
}

/*Default CSS*/

.container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.title {
	padding: 20px;
	width: 100%;
	height: 150px;
	background-color: #0099FF;
	display: flex;
    align-items: center;
    justify-content: center;
}

.title>h1 {
	color: white;
	font-size: 50px;
}

.content {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color:#0099FF;
}

.home-pic {
	margin-top: 10px;
	width: 100%;
	/*height: 500px;*/
    overflow: hidden;
}

.home-pic-crop {
	width: 100%;
    margin: 0px 0px -100px 0px;
}

.small-content {
	display: inline-block;
}

.small-tab {
	display: flex;
    justify-content: space-between;
	width: 100%;
}

.small-tab>div:nth-of-type(1) {
	color: #949799;
	display: inline-flex;
	justify-content: flex-end;
}

.small-tab>div:nth-of-type(2) {
	vertical-align: top;
	padding: 10px 15px 10px 15px;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 15px;
	background-color: #F3F3F3;	
	color: gray;
	display: inline-flex;
	justify-content: flex-end;
}

.small-tab>div:nth-of-type(2)>p {
	margin: 0px;
}

.small-tab>div:nth-of-type(3) {
	color: #949799;
	display: flex;
	align-items: center;
}

.small-tab>div:nth-of-type(3)>p {
	margin: 0px;
}

.small-tab>div:nth-of-type(4) {
	color: #949799;
	display: flex;
	align-items: center;
}

.small-tab>div:nth-of-type(4)>p {
	margin: 0px;
}

.detail {
	margin-top: 20px;
	font-size: 16px;
}

img {
	width: 200px;
}

.person {
	display: inline-block;
	margin: 3%;
}

.member-list {
	text-align: center;
}

.person {
	text-align: left;
}

.person>h3 {
	color: #0099FF;
}