body {
	font-family: 'Roboto';
}

#big-pic {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),  url(pic/Beer+Die+Events.jpg);
	background-size: cover;
	background-position: center;
	background-color: black;
	width: 100%;
	height: 600px;
}

.container-fluid {
	padding: 0px;
}

.content > h1{
	text-align: center;
	padding: 15%;
	color: white;
	opacity: 0.7;
	font-weight: 900;
}

#search-div {
	padding: 0px;
}

#search-bar {
	border-radius: 15px 0px 0px 15px;
}

#search-btn {
	border-radius: 0px 15px 15px 0px;
}

#search-bar, #search-btn {
	height: 40px;
}

#search-group {
	padding-top: 5px;

}

@media (max-width: 900px) {
	#big-pic {
		height: 400px;
	}
}

@media (min-width: 400px) {
	.navbar-default {
		padding: 50px 5%;
	}

	.navbar-brand {
		font-size: 50px;
		margin: 0px 30px 0px 0px;
	}

	.content > h1{
		font-size: 80px;
	}
}

@media (max-width: 500px) {
	.navbar-default {
		padding: 50px 1%;
	}

	.navbar-brand {
		font-size: 40px;
		margin: 0px 10px 0px 0px;
	}

	.content > h1{
		font-size: 50px;
	}
}



@media (max-width: 1250px) {
  /*.container {
    width: 1400px;
  }*/

  	.category {
		height: 170px;
	}
}

@media (min-width: 1250px) {
  	.category {
		height: 100px;
	}
}

@media (max-width: 740px) {
  	.category {
  		height: 100px;
		white-space: nowrap;
		overflow-x: scroll;
	}
}



.navbar-default {
	margin-bottom: 0px;
	background-color: white;
	height: 150px;
	background-color: #F3F3F3;
	/*padding: 50px 5%;*/
}

.navbar-brand {
	
}

.upcoming {
	background-color: #F3F3F3;
	margin: 0px;
	padding: 25px 50px;
}

.upcoming > :first-child {
	position: relative;
}

.upcoming > :first-child > :first-child{
	width: 70%;
	margin:0;
	display: inline-block;
}

.category {
	background-color: white;
	width: 100%;
	padding: 25px 25px 0px 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*white-space: nowrap;
	overflow-x: unset;*/
}

.cate {
	background-color: #F3F3F3; 
	width: 150px;
	height: 45px;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	margin: 0px 8px 25px 8px;
	display: inline-block;
	border-radius: 18px;
}

.see-all {
	font-size: 16px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 12px;
}

#up-showcase {
	text-align: center;
}

.up-block {
	text-align: left;
	margin: 25px;
	width: 210px;
	display: inline-block;
}

.up-block>h3, h4 {
	font-weight: 400;
}

.explore {
	margin: 0px;
	padding: 25px 50px;
}

#exp-showcase {
	text-align: center;
	/*padding: 100px;*/
}

.exp-block {
	text-align: left;
	margin: 25px;
	width: 300px;
	display: inline-block;
}

.exp-block>h3, h4 {
	font-weight: 400;
}

.footer {
	color: white;
	background-color: black;
	height: 200px;
	padding: 15px 35px;
}

.footer>h2 {
	font-weight: 400;
}

#blue {
    color: #0099FF;
}

#blue:hover {
	color: #0066FF;
	text-decoration: underline;
}

.menu {
	font-size: 20px;
}

.nav.navbar-nav.navbar-right li a:hover {
    text-decoration: underline;
}

.event-thumbnail {
    color: black;
}

.event-thumbnail:hover {
    color: #0099FF;
    text-decoration: none;
}
