h5 {
	color: #0099FF;
}

.container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.head {
	height: 150px;
}

.title {
	height: 150px;
	background-color: #0099FF;
	color: white;
	display: flex;
	padding-left: 30px;
}

.title>h1 {
	display: flex;
	align-items: center;
}

.box {
	border: 2px gray solid;
	height: 100%;
}

.event-rows {
	height: 120px;
	display: flex;
	align-items: center;
}

.btn {
	background-color: #0099FF;
	border: none;
	color: white;
}

.btn:hover {
	background-color: #11AAFF;
	border: none;
	color: white;
}

.btn:active:focus {
	background-color: #0088EE;
	border: none;
	color: white;
}

.box-body {
	padding-left: 30px;
	padding-right: 30px;
}
.request-name {
	display: inline-block;
	align-items: center;
	margin-left: 15px;
}

.detail-box {
	display: flex;
	align-items: center;
}

.modal-body {
	padding: 30px;
}

.text-row {
	margin: 20px 0px 20px 0px;
}

#applicant-detail {
	margin: 0px;
	color: #777777;
}

.modal-btn {
	height: 50px;
	display: flex;
	justify-content: center;
}

#line {
	border: 1px #C3C3C3 solid;
}

.q-form {
	margin: 15px 0px 15px 0px;
}

.manage-btn {
    min-width: 90%;
}
