i {
	color: #0099FF;
}

.head-pic {
    width: 100%;
	height: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.head-pic-crop {
    height: 10%;
  	width: 100%;
}

.topic {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px lightgray solid;
}

.box {
	display: inline-block;
}

.manage-btn {
	background-color: #0099FF;
	border: none;
	color: white;
}

.manage-btn:hover {
	background-color: #11AAFF;
	border: none;
	color: white;
}

.manage-btn:active:focus {
	background-color: #0088EE;
	border: none;
	color: white;
}

.place-n-time {
	display: inline-flex;
}

h4 {
	margin-left: 10px;
}
