.container-header{
	background-color: #0099FF;
	width: 100%;
	height: 80px;
	color : white;
}
.header-text{
	padding-left: 30px;
	padding-top: 10px;
}
.box {
	background-color: white;
	border: 2px gray solid;
	margin-top: 40px;
	margin-bottom: 40px;
}
.col-md-8{
	padding-right: 0px;
	padding-left: 0px;
}
.member-col{
	display: inline-block;
}
.member-pic{
	display: inline-block;
}
.member-text{
	padding-top: 25px;
	padding-bottom: 20px;
	display: inline-block;
}
.member-name{
	color: #0099ff;
	font-size: 16px;
}
.member-mail{
	font-size: 14px;
}
