body {
	background-color: #F3F3F3;
}

.box {
	background-color: white;
	border: 2px gray solid;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 80px 60px 80px 60px;
}

.box>h3 {
	color: #0099FF;
	font-size: 50px;
}

.box>p {
	font-size: 16px;
}

.box>p>a {
	color: #0099FF;
}

.form {
	margin-top: 40px;
}

.form-input {
	border: 2px #D0D0D0 solid;
	border-radius: 5px;
	background: #F3F3F3;
	height: 35px;
	font-size: 18px;
	padding: 2px;
	margin-bottom: 30px;
	width: 300px;
	font-weight: 300;
	transition: 0.5s;
}

.form-input:focus {
    outline: none !important;
    border: 2px solid #0099FF;
    border-radius: 5px;
    background-color: #F6F6F6;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

form>a {
	font-size: 16px;
	color: #0099FF;
}

form>a:hover {
	font-size: 16px;
	color: #0099FF;
}

#submit {
	background-color: #0099FF;
	color: white;
	padding: 15px 30px;
	margin-top: 40px;
	border: none;
	border-radius: 5px;
}

