/*Default CSS*/
.container-fluid {
	padding: 0px;
}

.navbar-default {
	margin-bottom: 0px;
	background-color: white;
	height: 150px;
	background-color: #F3F3F3;
	/*padding: 50px 5%;*/
}

.navbar-brand {
	
}

#search-div {
	padding: 0px;
}

#search-bar {
	border-radius: 15px 0px 0px 15px;
}

#search-btn {
	border-radius: 0px 15px 15px 0px;
}

#search-bar, #search-btn {
	height: 40px;
}

#search-group {
	padding-top: 5px;

}

@media (min-width: 400px) {
	.navbar-default {
		padding: 50px 5%;
	}

	.navbar-brand {
		font-size: 50px;
		margin: 0px 30px 0px 0px;
	}

	.content > h1{
		font-size: 80px;
	}
}

@media (max-width: 500px) {
	.navbar-default {
		padding: 50px 1%;
	}

	.navbar-brand {
		font-size: 40px;
		margin: 0px 10px 0px 0px;
	}

	.content > h1{
		font-size: 50px;
	}
}

.footer {
	color: white;
	background-color: black;
	height: 200px;
	padding: 15px 35px;
}

.footer>h2 {
	font-weight: 400;
}

#blue {
    color: #0099FF;
}

#blue:hover {
	color: #0066FF;
	text-decoration: underline;
}

.menu {
	font-size: 20px;
}

.nav.navbar-nav.navbar-right li a:hover {
    text-decoration: underline;
}

/*Default CSS*/
body {
	background-color: #F3F3F3;
}

.box {
	background-color: white;
	border: 2px gray solid;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 80px 60px 80px 60px;
}

.box>h3 {
	color: #0099FF;
	font-size: 50px;
}

.box>p {
	font-size: 16px;
}

.box>p>a {
	color: #0099FF;
}

.form {
	margin-top: 40px;
}

.form-input {
	border: 2px #D0D0D0 solid;
	border-radius: 5px;
	background: #F3F3F3;
	height: 35px;
	font-size: 18px;
	padding: 2px;
	margin-bottom: 30px;
	width: 300px;
	font-weight: 300;
	transition: 0.5s;
}

.form-input:focus {
    outline: none !important;
    border: 2px solid #0099FF;
    border-radius: 5px;
    background-color: #F6F6F6;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

form>a {
	font-size: 16px;
	color: #0099FF;
}

form>a:hover {
	font-size: 16px;
	color: #0099FF;
}

#submit {
	background-color: #0099FF;
	color: white;
	padding: 15px 30px;
	margin-top: 40px;
	border: none;
	border-radius: 5px;
}

